.el-popper.is-customized {
  padding: 6px 12px;
  background: linear-gradient(90deg, rgb(159, 229, 151), rgb(204, 229, 129));
}

.el-popper.is-customized .el-popper__arrow::before {
  background: linear-gradient(45deg, #b2e68d, #bce689);
  right: 0;
}

.el-card.is-always-shadow {
  box-shadow: unset !important;
}

.el-form--inline .el-form-item {
  margin-right: 0 !important;
}

.vxe-table:not([data-calc-col]) .vxe-cell--wrapper {
  min-width: unset !important;
}

.vxe-toolbar .vxe-button.rtable-toolbar-btn--orange.type--button:not(.is--disabled) {
  background-color: #eb591d !important;
  border-color: #eb591d !important;
  color: #fff !important;
}

.vxe-toolbar
  .vxe-button.rtable-toolbar-btn--orange.type--button:not(.is--disabled):hover {
  background-color: #f06a2c !important;
  border-color: #f06a2c !important;
}

.vxe-toolbar
  .vxe-button.rtable-toolbar-btn--orange.type--button:not(.is--disabled):active {
  background-color: #d34f1b !important;
  border-color: #d34f1b !important;
}
