@use './reset.scss';
@use './element-plus-cover.scss';
// ::-webkit-scrollbar {
//   width: 10px;
// }

// ::-webkit-scrollbar-track {
//   background-color: $sidebar-background-color;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: yellowgreen;
//   border-radius: 10px;
//   border: 2px solid transparent;
//   background-clip: padding-box;
// }
